<div class="container">
  <%# FIRST LINE = 3 COLUMNS %>
  <div class="row justify-content-between">
    <%# TITLE COLUMN %>
    <div class="col-4 justify-content-end">
      <h1 class="ml-3"><%= @task.title %></h1>
    </div>
    <%# EDIT BTN %>
    <div class="col-4 justify-item-end">
        <%= link_to "Edit this task", task_edit_path, class: "btn btn-outline-primary mt-2"  %>
    </div>
    <%# DELETE BTN  %>
    <div class="col-4 justify-item-end">
      <%# <%= link_to "Delete #{@task.title}",
          tasks_path(@task),
          class: "btn btn-outline-primary mt-2"
          method: :delete,
          data: { confirm: "Are you sure?" } %> %>
    </div>
  </div>
  <%# SECOND LINE = THE DETAILS %>
  <div class="card">
    <div class="card-body">
      <%= @task.details %>
    </div>
    <div class="card-body">
      <input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
    </div>
  </div>
  <%# LAST LINE = BACK TO MAIN %>
  <div class="m-3">
    <i class="fas fa-arrow-circle-left ml-3 mr-1"></i><%= link_to "Back to list", tasks_path  %>
  </div>
</div>
